*{
    margin: 0px;
}
body{
    background: rgb(0, 76, 255);
    height: 100vh;

}
a{
    text-decoration: none;
}
.navbar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 176, 87);
    padding: 10px 50px;
    color: white;
}
.navbar .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .right a{
    background-color: white;
    color: rgb(45, 178, 94);
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 20px;
}
.navbar .right button{
    /* background-color: rgba(250, 235, 215, 0); */
    font-size: 17px;
    /* /* color: white; */
    border: none; 
    cursor: pointer;
    background-color: white;
    color: rgb(45, 178, 94);
    padding: 6px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
/* Landing Page */

.lp{
    background-image: url(https://img.pikbest.com/backgrounds/20190924/technology-background-with-blue-gradient-background-v_1559315jpg!sw800);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.lp .content{
    background-color: rgba(0, 0, 0, 0.343);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.lp .content h1{
    font-size: 43px;
}
.lp .content .buttons a{
    background-color: rgb(31, 104, 193);
    color: rgb(244, 244, 244);
    border: 2px solid blue;
    padding: 6px 10px 10px;
    margin: 0px 30px;
    font-size: 20px;
    border-radius: 10px;
}
.lp .content .buttons{
    padding: 20px 0px;
}

/* Dashboard Page */

.dashboard{
    text-align: start;
}
.dashboard .content{
    padding-bottom: 50px;
}
.dashboard .link-details{
    margin: 50px 60px 0px;
    border-radius: 10px;
    padding: 20px;
    color: rgb(0, 146, 112);
    background-color: rgb(237, 237, 237);
}
.dashboard .url-details{
    color: rgb(53, 53, 53);
}
.dashboard .link-details table{
    width: 100%;
    margin-top: 30px;
}
.dashboard .link-details table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.dashboard .short{
    text-align: center;
    width: 100px;
}
.dashboard table td h3{
    width: 240px;
    height: 55px;
    overflow: hidden;
}

#btn-del{
    color: red;
    cursor: pointer;
}
#btn-del:active{
    color: rgb(45, 45, 45);
}
.dashboard #addUrl{
    background-color: white;
    border-radius: 100%;
    color: blue;
    border: 1px solid blue;
    padding: 12px 20px 15px;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    right: 60px;
    bottom: 70px;
}
.dashboard #addUrl:active{
    background-color: blue;
    color: white;
}

/* Login Page */

.login{
    height: 100vh;
    background: linear-gradient(60deg,rgb(196, 0, 196),rgb(0, 128, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}
.login form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.596);

}
.login form input{
    font-size: 20px;
    border:2px solid blueviolet;
    padding: 8px;
    outline: none;
    margin: 10px 0px;
    border-radius: 8px;
    width: 90%;
}
.login form button{
    background: linear-gradient(60deg,rgb(196, 0, 196),rgb(0, 128, 255));
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    padding: 8px;
    margin-top: 10px;
}
.login form h1{
    color: blueviolet;
    margin-bottom: 10px;
}

/* Shorten URL */

.shortenurl{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(130deg, purple,rgb(0, 55, 255));
    color: white;
}
.shortenurl .inputurl{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.shortenurl .inputurl input{
    font-size: 20px;
    width: 350px;
    padding: 9px 2px 7px 10px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.shortenurl .inputurl button{
    font-size: 22px;
    padding: 5px;
    border: none;
    background-color: rgb(20, 124, 185);
    color: white;
    padding: 7px 10px 6px;
    border-radius: 0px 5px 5px 0px;

}
.shortenurl .outputurl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortenurl .outputurl h2{
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 6px 0px 0px 6px;
    padding-top: 7px;
    padding-left: 10px;
    color: black;
    overflow: hidden;
    font-size: 17px;
}
.shortenurl .outputurl button{
    background-color: rgb(0, 101, 189);
    color: white;
    border: none;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 0px 8px 8px 0px;
}
.shortenurl button:active{
    background-color: blue;
}
.shortenurl .content *{
    margin: 20px 0px;
}
.redirectpage{
    height: 100vh;
    background-color: white;
}